<header class="header-container">
    <img src="assets/images/Escuela.png" class="img-opaca" alt="Escuela Fondo">
    <div class="header-upper">{{ universityName }}</div>
    <div class="header-text">
      <div class="header-lower">
        <div class="header-title">{{ title1 }}</div>
        <div class="header-title">{{ title2 }}</div>
        <div class="header-description">{{ description }}</div>
      </div>
    </div>
    <app-buttons-component></app-buttons-component>
  </header>
<app-about-us-component></app-about-us-component>