<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="footer-info">Nombre Apellido</p>
          <p class="footer-info">Desarrollador</p>
          <p class="footer-info">Nombre de la Universidad</p>
          <p class="footer-info">Nombre de la Carrera</p>
          <p class="footer-info">Calle Ejemplo 123</p>
          <a class="footer-link" href="mailto:correo&#64;example.com">correo&#64;example.com</a>
          <div class="social-icons">
            <a class="social-icon-link" href="https://facebook.com" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="social-icon-link" href="https://twitter.com" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
            <a class="social-icon-link" href="https://linkedin.com" target="_blank">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
</footer>