<div class="hero-container">
    <div class="image-section">
      <img src="assets/images/Evento.jpg" alt="Sobre el Evento" class="hero-image">
    </div>
    <div class="text-section">
      <h2 class="subtitle">Sobre Nosotros</h2>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus quis erat sit amet auctor. Fusce varius volutpat eleifend. Nunc dapibus, libero quis tempor scelerisque, tellus quam hendrerit nunc, eget commodo massa sapien vel dui.</p>
      <a href="#" class="btn btn-primary">Leer más ...</a>
    </div>
  </div>
  